/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-content {
  display: flex;
  height: calc(100vh - 80px); 
}

.submissionComponents {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Map-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Map-container > div {
  height: 100%;
  width: 100%;
}


.neon-rainbow {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowFlow 10s linear infinite;
  background-size: 300% 300%; 
}

@keyframes rainbowFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

